php/WsdlXsd/staging/OrganisationService3/OrganisationService3.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="OrganisationService" targetNamespace="http://training.gov.au/services/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://training.gov.au/services/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsp:Policy wsu:Id="OrganisationServiceBasicHttpEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false"/>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256/>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax/>
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp/>
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10/>
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy/>
        </sp:Wss10>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OrganisationServiceWsHttpEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false"/>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256/>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict/>
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp/>
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10/>
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy/>
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens/>
            <sp:RequireClientEntropy/>
            <sp:RequireServerEntropy/>
          </wsp:Policy>
        </sp:Trust10>
        <wsaw:UsingAddressing/>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://training.gov.au/services/Imports">
      <xsd:import schemaLocation="OrganisationService3.xsd" namespace="http://training.gov.au/services/"/>
      <xsd:import schemaLocation="OrganisationService3Serialization.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="OrganisationService3System.xsd" namespace="http://schemas.datacontract.org/2004/07/System"/>
      <xsd:import schemaLocation="OrganisationService3Arrays.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
      <xsd:import schemaLocation="OrganisationService3DeewrTgaModel.xsd" namespace="http://schemas.datacontract.org/2004/07/Deewr.Tga.Model"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrganisationService3_GetDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDetails"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_GetDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDetailsResponse"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_GetDetails_ValidationFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ValidationFault"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_SearchByScope_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchByScope"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_SearchByScope_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchByScopeResponse"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_SearchByScope_ValidationFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ValidationFault"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_Search_InputMessage">
    <wsdl:part name="parameters" element="tns:Search"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_Search_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchResponse"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_Search_ValidationFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ValidationFault"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_SearchByModifiedDate_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchByModifiedDate"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_SearchByModifiedDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchByModifiedDateResponse"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_SearchByModifiedDate_ValidationFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ValidationFault"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_SearchDeletedByDeletedDate_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchDeletedByDeletedDate"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_SearchDeletedByDeletedDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchDeletedByDeletedDateResponse"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_SearchDeletedByDeletedDate_ValidationFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ValidationFault"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_Update_ValidationFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ValidationFault"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_Add_ValidationFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ValidationFault"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_AddOrganisation_InputMessage">
    <wsdl:part name="parameters" element="tns:AddOrganisation"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_AddOrganisation_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddOrganisationResponse"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_AddOrganisation_ValidationFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ValidationFault"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_TransferDataManager_InputMessage">
    <wsdl:part name="parameters" element="tns:TransferDataManager"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_TransferDataManager_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransferDataManagerResponse"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_TransferDataManager_ValidationFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ValidationFault"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_Delete_ValidationFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ValidationFault"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_GetLookup_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLookup"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_GetLookup_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLookupResponse"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_GetLookup_ValidationFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ValidationFault"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_GetAddressStates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAddressStates"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_GetAddressStates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAddressStatesResponse"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_GetAddressStates_ValidationFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ValidationFault"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_GetContactRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContactRoles"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_GetContactRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContactRolesResponse"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_GetContactRoles_ValidationFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ValidationFault"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_GetDataManagers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataManagers"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_GetDataManagers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataManagersResponse"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_GetDataManagers_ValidationFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ValidationFault"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_GetRegistrationManagers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRegistrationManagers"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_GetRegistrationManagers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRegistrationManagersResponse"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_GetRegistrationManagers_ValidationFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ValidationFault"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_GetClassificationSchemes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClassificationSchemes"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_GetClassificationSchemes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClassificationSchemesResponse"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_GetClassificationSchemes_ValidationFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ValidationFault"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_GetClassificationPurposes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClassificationPurposes"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_GetClassificationPurposes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClassificationPurposesResponse"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_GetClassificationPurposes_ValidationFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ValidationFault"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_GetServerTime_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServerTime"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_GetServerTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServerTimeResponse"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_GetServerTime_ValidationFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ValidationFault"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_GetValidationCodes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetValidationCodes"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_GetValidationCodes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetValidationCodesResponse"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_GetValidationCodes_ValidationFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ValidationFault"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_CreateCode_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCode"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_CreateCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCodeResponse"/>
  </wsdl:message>
  <wsdl:message name="IOrganisationService3_CreateCode_ValidationFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ValidationFault"/>
  </wsdl:message>
  <wsdl:portType name="IOrganisationService3">
    <wsdl:operation name="GetDetails">
      <wsdl:input wsaw:Action="http://training.gov.au/services/IOrganisationService3/GetDetails" message="tns:IOrganisationService3_GetDetails_InputMessage"/>
      <wsdl:output wsaw:Action="http://training.gov.au/services/IOrganisationService3/GetDetailsResponse" message="tns:IOrganisationService3_GetDetails_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://training.gov.au/services/IOrganisationService3/GetDetailsValidationFaultFault" name="ValidationFaultFault" message="tns:IOrganisationService3_GetDetails_ValidationFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="SearchByScope">
      <wsdl:input wsaw:Action="http://training.gov.au/services/IOrganisationService3/SearchByScope" message="tns:IOrganisationService3_SearchByScope_InputMessage"/>
      <wsdl:output wsaw:Action="http://training.gov.au/services/IOrganisationService3/SearchByScopeResponse" message="tns:IOrganisationService3_SearchByScope_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://training.gov.au/services/IOrganisationService3/SearchByScopeValidationFaultFault" name="ValidationFaultFault" message="tns:IOrganisationService3_SearchByScope_ValidationFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <wsdl:input wsaw:Action="http://training.gov.au/services/IOrganisationService3/Search" message="tns:IOrganisationService3_Search_InputMessage"/>
      <wsdl:output wsaw:Action="http://training.gov.au/services/IOrganisationService3/SearchResponse" message="tns:IOrganisationService3_Search_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://training.gov.au/services/IOrganisationService3/SearchValidationFaultFault" name="ValidationFaultFault" message="tns:IOrganisationService3_Search_ValidationFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="SearchByModifiedDate">
      <wsdl:input wsaw:Action="http://training.gov.au/services/IOrganisationService3/SearchByModifiedDate" message="tns:IOrganisationService3_SearchByModifiedDate_InputMessage"/>
      <wsdl:output wsaw:Action="http://training.gov.au/services/IOrganisationService3/SearchByModifiedDateResponse" message="tns:IOrganisationService3_SearchByModifiedDate_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://training.gov.au/services/IOrganisationService3/SearchByModifiedDateValidationFaultFault" name="ValidationFaultFault" message="tns:IOrganisationService3_SearchByModifiedDate_ValidationFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="SearchDeletedByDeletedDate">
      <wsdl:input wsaw:Action="http://training.gov.au/services/IOrganisationService3/SearchDeletedByDeletedDate" message="tns:IOrganisationService3_SearchDeletedByDeletedDate_InputMessage"/>
      <wsdl:output wsaw:Action="http://training.gov.au/services/IOrganisationService3/SearchDeletedByDeletedDateResponse" message="tns:IOrganisationService3_SearchDeletedByDeletedDate_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://training.gov.au/services/IOrganisationService3/SearchDeletedByDeletedDateValidationFaultFault" name="ValidationFaultFault" message="tns:IOrganisationService3_SearchDeletedByDeletedDate_ValidationFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://training.gov.au/services/IOrganisationService3/Update" message="tns:IOrganisationService3_Update_InputMessage"/>
      <wsdl:output wsaw:Action="http://training.gov.au/services/IOrganisationService3/UpdateResponse" message="tns:IOrganisationService3_Update_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://training.gov.au/services/IOrganisationService3/UpdateValidationFaultFault" name="ValidationFaultFault" message="tns:IOrganisationService3_Update_ValidationFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://training.gov.au/services/IOrganisationService3/Add" message="tns:IOrganisationService3_Add_InputMessage"/>
      <wsdl:output wsaw:Action="http://training.gov.au/services/IOrganisationService3/AddResponse" message="tns:IOrganisationService3_Add_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://training.gov.au/services/IOrganisationService3/AddValidationFaultFault" name="ValidationFaultFault" message="tns:IOrganisationService3_Add_ValidationFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="AddOrganisation">
      <wsdl:input wsaw:Action="http://training.gov.au/services/IOrganisationService3/AddOrganisation" message="tns:IOrganisationService3_AddOrganisation_InputMessage"/>
      <wsdl:output wsaw:Action="http://training.gov.au/services/IOrganisationService3/AddOrganisationResponse" message="tns:IOrganisationService3_AddOrganisation_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://training.gov.au/services/IOrganisationService3/AddOrganisationValidationFaultFault" name="ValidationFaultFault" message="tns:IOrganisationService3_AddOrganisation_ValidationFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="TransferDataManager">
      <wsdl:input wsaw:Action="http://training.gov.au/services/IOrganisationService3/TransferDataManager" message="tns:IOrganisationService3_TransferDataManager_InputMessage"/>
      <wsdl:output wsaw:Action="http://training.gov.au/services/IOrganisationService3/TransferDataManagerResponse" message="tns:IOrganisationService3_TransferDataManager_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://training.gov.au/services/IOrganisationService3/TransferDataManagerValidationFaultFault" name="ValidationFaultFault" message="tns:IOrganisationService3_TransferDataManager_ValidationFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://training.gov.au/services/IOrganisationService3/Delete" message="tns:IOrganisationService3_Delete_InputMessage"/>
      <wsdl:output wsaw:Action="http://training.gov.au/services/IOrganisationService3/DeleteResponse" message="tns:IOrganisationService3_Delete_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://training.gov.au/services/IOrganisationService3/DeleteValidationFaultFault" name="ValidationFaultFault" message="tns:IOrganisationService3_Delete_ValidationFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetLookup">
      <wsdl:input wsaw:Action="http://training.gov.au/services/IOrganisationService3/GetLookup" message="tns:IOrganisationService3_GetLookup_InputMessage"/>
      <wsdl:output wsaw:Action="http://training.gov.au/services/IOrganisationService3/GetLookupResponse" message="tns:IOrganisationService3_GetLookup_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://training.gov.au/services/IOrganisationService3/GetLookupValidationFaultFault" name="ValidationFaultFault" message="tns:IOrganisationService3_GetLookup_ValidationFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetAddressStates">
      <wsdl:input wsaw:Action="http://training.gov.au/services/IOrganisationService3/GetAddressStates" message="tns:IOrganisationService3_GetAddressStates_InputMessage"/>
      <wsdl:output wsaw:Action="http://training.gov.au/services/IOrganisationService3/GetAddressStatesResponse" message="tns:IOrganisationService3_GetAddressStates_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://training.gov.au/services/IOrganisationService3/GetAddressStatesValidationFaultFault" name="ValidationFaultFault" message="tns:IOrganisationService3_GetAddressStates_ValidationFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetContactRoles">
      <wsdl:input wsaw:Action="http://training.gov.au/services/IOrganisationService3/GetContactRoles" message="tns:IOrganisationService3_GetContactRoles_InputMessage"/>
      <wsdl:output wsaw:Action="http://training.gov.au/services/IOrganisationService3/GetContactRolesResponse" message="tns:IOrganisationService3_GetContactRoles_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://training.gov.au/services/IOrganisationService3/GetContactRolesValidationFaultFault" name="ValidationFaultFault" message="tns:IOrganisationService3_GetContactRoles_ValidationFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetDataManagers">
      <wsdl:input wsaw:Action="http://training.gov.au/services/IOrganisationService3/GetDataManagers" message="tns:IOrganisationService3_GetDataManagers_InputMessage"/>
      <wsdl:output wsaw:Action="http://training.gov.au/services/IOrganisationService3/GetDataManagersResponse" message="tns:IOrganisationService3_GetDataManagers_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://training.gov.au/services/IOrganisationService3/GetDataManagersValidationFaultFault" name="ValidationFaultFault" message="tns:IOrganisationService3_GetDataManagers_ValidationFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetRegistrationManagers">
      <wsdl:input wsaw:Action="http://training.gov.au/services/IOrganisationService3/GetRegistrationManagers" message="tns:IOrganisationService3_GetRegistrationManagers_InputMessage"/>
      <wsdl:output wsaw:Action="http://training.gov.au/services/IOrganisationService3/GetRegistrationManagersResponse" message="tns:IOrganisationService3_GetRegistrationManagers_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://training.gov.au/services/IOrganisationService3/GetRegistrationManagersValidationFaultFault" name="ValidationFaultFault" message="tns:IOrganisationService3_GetRegistrationManagers_ValidationFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetClassificationSchemes">
      <wsdl:input wsaw:Action="http://training.gov.au/services/IOrganisationService3/GetClassificationSchemes" message="tns:IOrganisationService3_GetClassificationSchemes_InputMessage"/>
      <wsdl:output wsaw:Action="http://training.gov.au/services/IOrganisationService3/GetClassificationSchemesResponse" message="tns:IOrganisationService3_GetClassificationSchemes_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://training.gov.au/services/IOrganisationService3/GetClassificationSchemesValidationFaultFault" name="ValidationFaultFault" message="tns:IOrganisationService3_GetClassificationSchemes_ValidationFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetClassificationPurposes">
      <wsdl:input wsaw:Action="http://training.gov.au/services/IOrganisationService3/GetClassificationPurposes" message="tns:IOrganisationService3_GetClassificationPurposes_InputMessage"/>
      <wsdl:output wsaw:Action="http://training.gov.au/services/IOrganisationService3/GetClassificationPurposesResponse" message="tns:IOrganisationService3_GetClassificationPurposes_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://training.gov.au/services/IOrganisationService3/GetClassificationPurposesValidationFaultFault" name="ValidationFaultFault" message="tns:IOrganisationService3_GetClassificationPurposes_ValidationFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetServerTime">
      <wsdl:input wsaw:Action="http://training.gov.au/services/IOrganisationService3/GetServerTime" message="tns:IOrganisationService3_GetServerTime_InputMessage"/>
      <wsdl:output wsaw:Action="http://training.gov.au/services/IOrganisationService3/GetServerTimeResponse" message="tns:IOrganisationService3_GetServerTime_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://training.gov.au/services/IOrganisationService3/GetServerTimeValidationFaultFault" name="ValidationFaultFault" message="tns:IOrganisationService3_GetServerTime_ValidationFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetValidationCodes">
      <wsdl:input wsaw:Action="http://training.gov.au/services/IOrganisationService3/GetValidationCodes" message="tns:IOrganisationService3_GetValidationCodes_InputMessage"/>
      <wsdl:output wsaw:Action="http://training.gov.au/services/IOrganisationService3/GetValidationCodesResponse" message="tns:IOrganisationService3_GetValidationCodes_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://training.gov.au/services/IOrganisationService3/GetValidationCodesValidationFaultFault" name="ValidationFaultFault" message="tns:IOrganisationService3_GetValidationCodes_ValidationFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="CreateCode">
      <wsdl:input wsaw:Action="http://training.gov.au/services/IOrganisationService3/CreateCode" message="tns:IOrganisationService3_CreateCode_InputMessage"/>
      <wsdl:output wsaw:Action="http://training.gov.au/services/IOrganisationService3/CreateCodeResponse" message="tns:IOrganisationService3_CreateCode_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://training.gov.au/services/IOrganisationService3/CreateCodeValidationFaultFault" name="ValidationFaultFault" message="tns:IOrganisationService3_CreateCode_ValidationFaultFault_FaultMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrganisationServiceBasicHttpEndpoint" type="tns:IOrganisationService3">
    <wsp:PolicyReference URI="#OrganisationServiceBasicHttpEndpoint_policy"/>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetDetails">
      <soap:operation soapAction="http://training.gov.au/services/IOrganisationService3/GetDetails" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault name="ValidationFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchByScope">
      <soap:operation soapAction="http://training.gov.au/services/IOrganisationService3/SearchByScope" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault name="ValidationFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap:operation soapAction="http://training.gov.au/services/IOrganisationService3/Search" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault name="ValidationFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchByModifiedDate">
      <soap:operation soapAction="http://training.gov.au/services/IOrganisationService3/SearchByModifiedDate" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault name="ValidationFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchDeletedByDeletedDate">
      <soap:operation soapAction="http://training.gov.au/services/IOrganisationService3/SearchDeletedByDeletedDate" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault name="ValidationFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://training.gov.au/services/IOrganisationService3/Update" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault name="ValidationFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://training.gov.au/services/IOrganisationService3/Add" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault name="ValidationFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddOrganisation">
      <soap:operation soapAction="http://training.gov.au/services/IOrganisationService3/AddOrganisation" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault name="ValidationFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TransferDataManager">
      <soap:operation soapAction="http://training.gov.au/services/IOrganisationService3/TransferDataManager" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault name="ValidationFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://training.gov.au/services/IOrganisationService3/Delete" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault name="ValidationFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLookup">
      <soap:operation soapAction="http://training.gov.au/services/IOrganisationService3/GetLookup" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault name="ValidationFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAddressStates">
      <soap:operation soapAction="http://training.gov.au/services/IOrganisationService3/GetAddressStates" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault name="ValidationFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetContactRoles">
      <soap:operation soapAction="http://training.gov.au/services/IOrganisationService3/GetContactRoles" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault name="ValidationFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDataManagers">
      <soap:operation soapAction="http://training.gov.au/services/IOrganisationService3/GetDataManagers" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault name="ValidationFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRegistrationManagers">
      <soap:operation soapAction="http://training.gov.au/services/IOrganisationService3/GetRegistrationManagers" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault name="ValidationFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetClassificationSchemes">
      <soap:operation soapAction="http://training.gov.au/services/IOrganisationService3/GetClassificationSchemes" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault name="ValidationFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetClassificationPurposes">
      <soap:operation soapAction="http://training.gov.au/services/IOrganisationService3/GetClassificationPurposes" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault name="ValidationFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetServerTime">
      <soap:operation soapAction="http://training.gov.au/services/IOrganisationService3/GetServerTime" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault name="ValidationFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetValidationCodes">
      <soap:operation soapAction="http://training.gov.au/services/IOrganisationService3/GetValidationCodes" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault name="ValidationFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateCode">
      <soap:operation soapAction="http://training.gov.au/services/IOrganisationService3/CreateCode" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault name="ValidationFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OrganisationServiceWsHttpEndpoint" type="tns:IOrganisationService3">
    <wsp:PolicyReference URI="#OrganisationServiceWsHttpEndpoint_policy"/>
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetDetails">
      <soap12:operation soapAction="http://training.gov.au/services/IOrganisationService3/GetDetails" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault name="ValidationFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchByScope">
      <soap12:operation soapAction="http://training.gov.au/services/IOrganisationService3/SearchByScope" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault name="ValidationFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap12:operation soapAction="http://training.gov.au/services/IOrganisationService3/Search" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault name="ValidationFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchByModifiedDate">
      <soap12:operation soapAction="http://training.gov.au/services/IOrganisationService3/SearchByModifiedDate" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault name="ValidationFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchDeletedByDeletedDate">
      <soap12:operation soapAction="http://training.gov.au/services/IOrganisationService3/SearchDeletedByDeletedDate" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault name="ValidationFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://training.gov.au/services/IOrganisationService3/Update" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault name="ValidationFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://training.gov.au/services/IOrganisationService3/Add" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault name="ValidationFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddOrganisation">
      <soap12:operation soapAction="http://training.gov.au/services/IOrganisationService3/AddOrganisation" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault name="ValidationFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TransferDataManager">
      <soap12:operation soapAction="http://training.gov.au/services/IOrganisationService3/TransferDataManager" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault name="ValidationFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://training.gov.au/services/IOrganisationService3/Delete" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault name="ValidationFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLookup">
      <soap12:operation soapAction="http://training.gov.au/services/IOrganisationService3/GetLookup" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault name="ValidationFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAddressStates">
      <soap12:operation soapAction="http://training.gov.au/services/IOrganisationService3/GetAddressStates" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault name="ValidationFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetContactRoles">
      <soap12:operation soapAction="http://training.gov.au/services/IOrganisationService3/GetContactRoles" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault name="ValidationFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDataManagers">
      <soap12:operation soapAction="http://training.gov.au/services/IOrganisationService3/GetDataManagers" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault name="ValidationFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRegistrationManagers">
      <soap12:operation soapAction="http://training.gov.au/services/IOrganisationService3/GetRegistrationManagers" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault name="ValidationFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetClassificationSchemes">
      <soap12:operation soapAction="http://training.gov.au/services/IOrganisationService3/GetClassificationSchemes" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault name="ValidationFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetClassificationPurposes">
      <soap12:operation soapAction="http://training.gov.au/services/IOrganisationService3/GetClassificationPurposes" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault name="ValidationFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetServerTime">
      <soap12:operation soapAction="http://training.gov.au/services/IOrganisationService3/GetServerTime" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault name="ValidationFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetValidationCodes">
      <soap12:operation soapAction="http://training.gov.au/services/IOrganisationService3/GetValidationCodes" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault name="ValidationFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateCode">
      <soap12:operation soapAction="http://training.gov.au/services/IOrganisationService3/CreateCode" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap12:fault name="ValidationFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrganisationService">
    <wsdl:port name="OrganisationServiceBasicHttpEndpoint" binding="tns:OrganisationServiceBasicHttpEndpoint">
      <soap:address location="https://ws.staging.training.gov.au/Deewr.Tga.WebServices/OrganisationService3.svc/Organisation"/>
    </wsdl:port>
    <wsdl:port name="OrganisationServiceWsHttpEndpoint" binding="tns:OrganisationServiceWsHttpEndpoint">
      <soap12:address location="https://ws.staging.training.gov.au/Deewr.Tga.WebServices/OrganisationService3.svc/Organisation12"/>
      <wsa10:EndpointReference>
        <wsa10:Address>https://ws.staging.training.gov.au/Deewr.Tga.WebServices/OrganisationService3.svc/Organisation12</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
